<html>
<head>
    <title>registration form</title>
</head>
<body>
<h3>registration:</h3>
<h4><a href="/">home</a>
    <a href="/login">login</a></h4>
<h5><form method="POST" action="/registration">
enter your name : <input type="text"  name="name"><br><br>
enter your email : <input type="email" name="email"><br><br>
enter password : <input type="password"  name="password"><br><br>
enter your age : <input type="text"  name="age"><br><br>
    <input type="submit"  value="submit" name="submit">
</form>
</h5>
</body>
</html>